/* HTML */
body{
    background: #C7C7C7;
}
h2{
    color: #505050;
}
h3{
    color: #505050;
}
h3:before{
    content: "";
    display:inline-block;
    height: 1px;
    width: 50px;
    background-color: #ff6666;
    position: relative;
    top: -5px;
    margin-right: 10px;
}
h3:after{
    content: "";
    display:inline-block;
    height: 1px;
    width: 50px;
    background-color: #ff6666;
    position: relative;
    top: -5px;
    margin-left: 10px;
}
h4{
    color: #505050;
}
h5{
    color: #505050;
}
h4:before{
    content: "";
    display:inline-block;
    height: 1px;
    width: 50px;
    background-color: #ff6666;
    position: relative;
    top: -5px;
    margin-right: 10px;
}
h4:after{
    content: "";
    display:inline-block;
    height: 1px;
    width: 50px;
    background-color: #ff6666;
    position: relative;
    top: -5px;
    margin-left: 10px;
}
span{
    font-size: 12px;
}

/* Navbar */
.navbar{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#nav-links{
    color: white;
    font-style: Roboto;
}
#nav-links:hover{
    color: #ff6666;
}


/* Container */
#main{
    padding-top: 120px;
}
#featuredMain{
    padding-top: 80px;
}
#about{
    padding-top: 200px;
}

/* Project Cards */
.card{
    margin-top: 10px;
    background: black;
    color: gray;
    box-shadow: 2px 3px 15px black;
}
.projImgContainer{
    height: 160px;
}
.card-text{
    font-size: 12px;
}
.clickablesContainer{
    margin-top: 15px;
    text-align: right;
}
.arrows{
    color: #ff6666;
}


/* Images */
svg{
    fill: gray;
}
svg:hover{
    fill: #ff6666;
}

#logo{
    width: 35%;
    border: 2px solid #ff6666;
}
#logo:hover{
    transform: scale(1.1);
}


/* Buttons */
.btn{
    background-color: black;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid #ff6666;
}
.btn:hover {
    background-color: white;
    color: black;
}